body {background: #F5F8FA; color: #777;}
#app {position: relative; padding-left: 0; cursor: default;}
#content {max-width: 800px; margin: 4em auto; padding: 0 2em; line-height: 1.5em;}
.pure-form input[type=text], button.pure-button {padding-top: 0.6em; padding-bottom: 0.5em}
button.pure-button {border: 1px solid #0078E7; border-radius: 4px; margin-left: 5px;}
ul {list-style: none; margin: 0; padding: 0;}
a, a:focus, a:active {outline: none;}
.thin {font-weight: 200;}

/* BELOW IS CSS FOR ARTICLES*/
/*.debugger {border: 1px solid red;}*/
.articles-container, .articles-box, .articles-list, .article {width:90%; margin: 0 auto; margin-top:20px;}
.articles-container {height:auto;}
.articles-box {height: auto;}
.articles-list {min-height: 400px; max-height: 600px; overflow-y:scroll;}



.footer-page {
  margin-top:20px;padding-top:20px;background-color:#ee6e73;padding-bottom: 20px;
}

.bill-content {
  margin: 0 auto;
}

.pop-out {

}

/*==-----stuff added in bills-card-v2=-----*/
.article-head {
  max-width: 95%;
  width: 90%;
  display:inline-block;
}

.article-head-container {
  overflow: hidden;
}

.favorited, .not-favorited {
}

.favorite {
  display:inline-block;
  float: right;
  clear: both;
}

/*---------*/

.favorited {
  color: rgba(247,244,48,1);
}

.not-favorited {
  color: rgba(122,122,122,0.7);
}

/*footer {
  margin-top: 0;
  background-color:#ee6e73;
  display: inline;
  bottom: -20px;
  height: 20px;
}*/

/*.rep-bio {
	display: none;
}*/
.rep-card {
	width:30%;
	display: inline-block;
	margin: 10px;
}


.rep-image {
	width: 418px;
	height: 314px;
}

.rep-follow-button {
	margin-left: 5%;
	margin-right: 5%;
}
.card-action {
	margin: 0 auto;
}



.btn-new {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: -11px;
    line-height: -11px;
    outline: 0;
    padding: 0 2rem;
    text-transform: none;
    vertical-align: middle;
    -webkit-tap-highlight-color: blue;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.tab:hover {
    background-color: #e3f2fd ;
    border-radius: 9px;
    width: 120%;
    height: 120%;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

