html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.tabs-list-container, .rep-profiles-container {
  height:300px;
}

.title {
  color: red;
  font-size: 30px;
}

.search {
  float: right;
}

.tabs-list {
  height: 270px;
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
}

.tab-buttons {
  height: 30px;
  width: 150px;
  text-align: center;
}

.tab-content {
  height: 200px;
  width: 90%;
  margin: 0 auto;
  overflow-y: scroll;
}

.rep-container {
  margin: 0 auto;
  text-align: center;
}

.rep-profile {
  width: 170px;
  display: inline-block;
}

.rep-profiles-container {
  text-align: center;
}

.rep-image {
  width:20%;
}

.party-pic {
  height: 29px;
  width: 29px;
  margin-bottom: -2px;
  margin-left: 10px;
}

.tag {
    display: block;
    padding-left: .6em;
    padding-right: .6em;
    line-height: inherit;
    font-size: .9375em;
    font-weight: normal;
    color: #778187;
    background: #f2f2f3;
}

.rep-card {

  max-width: 420px;
}

'.button-container'{
  height 90px;
}

