.position {
  font-size: 120%;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.left-align {
  text-align: left;
}

.team-container {height:auto; width:80%; margin: 0 auto; margin-top:20px;}
